<h3>signup</h3>

<form action="/api/views/signup" method="post">
    full name: <input type="text" name="fullname" id="fullname">
    email: <input type="email" name="email" id="email">
    <input type="button" value="Send">
</form>