<script>
    function validateForm() {
        
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var password2 = document.getElementById('password2').value;
        var alertElement = document.getElementById('alert');
        var passwordMismatchMessage = document.getElementById('password-mismatch-message');


        // Ocultar el alerta si ya está visible
        alertElement.style.display = 'none';

        // Validar que todos los campos estén llenos y marcar los campos inválidos
        var fields = ['email', 'password', 'password2'];
        var isValid = true;
        fields.forEach(function (field) {
            var element = document.getElementById(field);
            if (!element.value) {
                element.classList.add('is-invalid');
                isValid = false;
                return false; // Evitar el envío del formulario
            } else {
                element.classList.remove('is-invalid');
            }
        });

        // Validar el formato del correo electrónico
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (email && !emailPattern.test(email)) {
            document.getElementById('email').classList.add('is-invalid');
            isValid = false;
            return false; // Evitar el envío del formulario
        }

        // Validar que las contraseñas coincidan
        if (password !== password2) {
            document.getElementById('password').classList.add('is-invalid');
            document.getElementById('password2').classList.add('is-invalid');
            passwordMismatchMessage.style.display = 'block';
            isValid = false;
            return false; // Evitar el envío del formulario
        } else {
            passwordMismatchMessage.style.display = 'none';
        }

        if (!isValid) {
            alertElement.innerHTML = '<div class="alert alert-danger" role="alert">Please, check the red fields</div>';
            alertElement.style.display = 'block';
            return false; // Evitar el envío del formulario
        }

        return true; // Envía el formulario si todas las validaciones pasan
    }
</script>

<div id="alert"></div>

<div class="col-md-4 col-md-offset-4" id="signup">
    <section id="inner-wrapper" class="signup">
        <article>
            <form action="/api/sessions/forgotPassword" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                        <input type="email" class="form-control" placeholder="Email Address" name="email" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input type="password" class="form-control" placeholder="Password" name="password"
                            id="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="password2"
                            id="password2">
                    </div>
                </div>
                <div id="password-mismatch-message" class="alert alert-danger" style="display:none;">
                    Password doesn't match
                </div>

                <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                <a href="/views/login" class="btn btn-success btn-block">Cancel</a>
            </form>
        </article>
    </section>
</div>